{% extends 'template/base.twig' %}

{% block content %}
<div class="row">
  <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 table-responsive">
    <table class="table table-hover table-stripe">
      <thead>
        <tr>
          <th>Nombre del Almacén</th>
          <th>Número de Items</th>
          <th>Mensaje</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for almacen in almacenes.data %}
        <tr id="{{almacen.warehouse_id}}">
          <td class="whname">{{almacen.name}}</td>
          <td>{{almacen.noItems}}</td>
          <td>{{almacen.inStock}}</td>
          <td>
            <button type="button" class="btn btn-primary addItemsWarehouse">
              <i class="fa fa-plus"></i>
            </button>
            <button type="button" class="btn btn-info verItemsWarehouse">
              <i class="fa fa-eye"></i>
            </button>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endblock %}

{% block scripts %}
<script type="text/javascript" src="./vendor/self/js/home.js"></script>
{% endblock %}
