<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="./vendor/alertify/css/alertify.css">
    <link rel="stylesheet" href="./vendor/vex/css/vex.css">
    <link rel="stylesheet" href="./vendor/vex/css/vex-theme-plain.css">
  </head>
  <body class="container">
    {% include './template/navigation.twig' %}
    {% block content %}{% endblock %}
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="./vendor/alertify/js/alertify.js"></script>
    <script type="text/javascript" src="./vendor/self/js/main.js"></script>
    <script type="text/javascript" src="./vendor/vex/js/vex.js"></script>
    <script type="text/javascript" src="./vendor/vex/js/vex.combined.js"></script>
  </body>
</html>
